.bottom_block_download {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto 25px;
  width: 1200px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--section-color);
  border-top: 2px solid var(--section-color-white);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
}

.download-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.resume_link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-color-white);
  text-decoration: none;
  margin-right: 15px;
  padding: 5px;
  border-radius: 3px;
}

.resume_link:hover {
  transform: scale(1.08);
  outline: 1px solid var(--text-color-white);
}