.main-container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 1200px;
    background: var(--section-color-white);
    margin: 20px auto 0;
    box-shadow: 10px 1px 5px rgba(0, 0, 0, 0.1);
}